n8n/flow-c-audio.json
{
  "name": "flow-c-audio",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-c",
      "name": "Receber Áudio do Flow A",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.openAiApi.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "name": "language",
              "value": "pt"
            }
          ]
        },
        "options": {}
      },
      "id": "http-whisper",
      "name": "Transcrever Áudio (Whisper)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "text",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "type",
              "name": "type",
              "value": "text",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-transcricao",
      "name": "Injetar Transcrição como Texto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "workflowId": "FLOW_B_AI_CORE_ID",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ $json.text }}",
            "type": "text"
          },
          "schema": []
        },
        "options": {}
      },
      "id": "executar-flow-b-audio",
      "name": "Processar Intent com Flow B",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/speech",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.openAiApi.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'tts-1', input: $json.text, voice: 'alloy', response_format: 'mp3' }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        },
        "onError": "retryOnFail",
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 3000
      },
      "id": "http-tts",
      "name": "Sintetizar Resposta em Áudio (TTS alloy)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": { "type": "number", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-tts-success",
      "name": "TTS Bem-sucedido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "audio/mpeg" }
            ]
          }
        }
      },
      "id": "respond-audio",
      "name": "Retornar Áudio MP3",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { text: $('Processar Intent com Flow B').item.json.text, fallback: true, aviso: 'Resposta em texto (TTS indisponível)' } }}",
        "options": {}
      },
      "id": "respond-fallback",
      "name": "Fallback Texto (TTS Falhou)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 400]
    },
    {
      "parameters": {},
      "id": "error-trigger-c",
      "name": "Capturar Erros do Flow C",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 500]
    }
  ],
  "connections": {
    "Receber Áudio do Flow A": {
      "main": [[{ "node": "Transcrever Áudio (Whisper)", "type": "main", "index": 0 }]]
    },
    "Transcrever Áudio (Whisper)": {
      "main": [[{ "node": "Injetar Transcrição como Texto", "type": "main", "index": 0 }]]
    },
    "Injetar Transcrição como Texto": {
      "main": [[{ "node": "Processar Intent com Flow B", "type": "main", "index": 0 }]]
    },
    "Processar Intent com Flow B": {
      "main": [[{ "node": "Sintetizar Resposta em Áudio (TTS alloy)", "type": "main", "index": 0 }]]
    },
    "Sintetizar Resposta em Áudio (TTS alloy)": {
      "main": [[{ "node": "TTS Bem-sucedido?", "type": "main", "index": 0 }]]
    },
    "TTS Bem-sucedido?": {
      "main": [
        [{ "node": "Retornar Áudio MP3", "type": "main", "index": 0 }],
        [{ "node": "Fallback Texto (TTS Falhou)", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "flow-c-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "agendai"
  },
  "id": "flow-c-audio",
  "tags": []
}
