n8n/flow-d-email.json
{
  "name": "flow-d-email",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-email",
      "name": "Gatilho de Sub-Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "agendamento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "cancelamento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelamento"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-tipo",
      "name": "Switch por Tipo de E-mail",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assunto",
              "name": "assunto",
              "value": "=Confirmação de Consulta — AgendAI",
              "type": "string"
            },
            {
              "id": "corpo",
              "name": "corpo",
              "value": "=Olá {{ $json.paciente_nome }},\n\nSua consulta foi confirmada com sucesso!\n\nDetalhes:\n- Médico: {{ $json.medico_nome }}\n- Data e Hora: {{ $json.data_hora }}\n- Valor: R$ {{ $json.valor }}\n- Formas de Pagamento: {{ $json.formas_pagamento }}\n\nAtenciosamente,\nAgendAI",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-template-agendamento",
      "name": "Template Confirmação de Agendamento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [700, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assunto",
              "name": "assunto",
              "value": "=Consulta Cancelada — AgendAI",
              "type": "string"
            },
            {
              "id": "corpo",
              "name": "corpo",
              "value": "=Olá {{ $json.paciente_nome }},\n\nSua consulta foi cancelada com sucesso.\n\nDetalhes:\n- Médico: {{ $json.medico_nome }}\n- Data e Hora: {{ $json.data_hora }}\n\nSe precisar reagendar, entre em contato conosco.\n\nAtenciosamente,\nAgendAI",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-template-cancelamento",
      "name": "Template Cancelamento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [700, 400]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gatilho de Sub-Workflow').item.json.paciente_email }}",
        "subject": "={{ $json.assunto }}",
        "emailType": "text",
        "message": "={{ $json.corpo }}",
        "options": {}
      },
      "id": "gmail-agendamento",
      "name": "Enviar E-mail de Confirmação",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [940, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      },
      "onError": "retryOnFail",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gatilho de Sub-Workflow').item.json.paciente_email }}",
        "subject": "={{ $json.assunto }}",
        "emailType": "text",
        "message": "={{ $json.corpo }}",
        "options": {}
      },
      "id": "gmail-cancelamento",
      "name": "Enviar E-mail de Cancelamento",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [940, 400],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      },
      "onError": "retryOnFail",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {},
      "id": "error-trigger-email",
      "name": "Capturar Erros de E-mail",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 500]
    }
  ],
  "connections": {
    "Gatilho de Sub-Workflow": {
      "main": [
        [
          {
            "node": "Switch por Tipo de E-mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch por Tipo de E-mail": {
      "main": [
        [
          {
            "node": "Template Confirmação de Agendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Template Cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template Confirmação de Agendamento": {
      "main": [
        [
          {
            "node": "Enviar E-mail de Confirmação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template Cancelamento": {
      "main": [
        [
          {
            "node": "Enviar E-mail de Cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "flow-d-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "agendai"
  },
  "id": "flow-d-email",
  "tags": []
}
